/* Overriding active and hover states for menu items */
.navbar .nav > li > a:link, .navbar .nav > li > a:hover {
  background-color: #e3e3e3;
}
.navbar-inner {
    background-color: #210c02;
    background-image: none;
    border: medium none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}